* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.header {
    padding: 15px 0;
}
.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation-link {
    text-decoration: none; 
    text-transform: uppercase;
    color: #939699;
    letter-spacing: 0.5px;
   /* 1 */
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}
.button {
    background: #4592FF;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    color:white;
    display: flex;
    align-items: center;
    cursor: pointer;
   /* 1 */
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}
.button-icon, .button-price {
    margin-right: 10px;
}
.button-icon:last-child{
    margin-right: 0;
    margin-left: 5px;
}
/* //////////////////////////////////////////////////////slider */
.slide {
    padding-top: 90px;
    padding-bottom: 90px;
}
.slide-1 {
    background:#B4D1E0 url('../img/slide-image-1.png') no-repeat top right 37%;
}
.slide-2 {
    background:#e5cfd0 url('../img/slide-image-1.png') no-repeat top right 37%;
}
.slide-3 {
    background:#e0ceb4 url('../img/slide-image-1.png') no-repeat top right 37%;
}
.label {
    background: #3DC47E;
    border-radius: 3px;
    padding: 5px 12px;
    color: white;
    font-size: 12px;
    line-height: 15px;
}
.slide-title {
    color: #262D33;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 70px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.slide-description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #4B5157;
    max-width: 335px;
    margin-bottom: 40px;
}
.slider {
    position: relative;
}
.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    transform:translateY(-50%);
    z-index: 9;
}
.slider-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* ///////////////////////////////////////////////////////card */
.card {
    min-height: 370px;
    border-radius: 10px;
    padding: 60px 46px 80px 46px;
}
.card-1 {
    background: url('../img/card-image-1.jpg') no-repeat top right;
    background-size: cover;
}
.card-2 {
    background: url('../img/card-image-2.jpg') no-repeat top right;
    background-size: cover;
}
.card-3 {
    background: #CCD5E6 url('../img/card-image-3.png') no-repeat top right 10%;
    background-size: contain;
    padding-top: 35px;
}
.card-4 {
    padding-top: 35px;
    padding-left: 25px;
    background: #FF4F52 url('../img/card-image-4.png') no-repeat top right;
    background-size: contain;
}
.card-title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
    max-width: 222px;
    margin: 0;
}
.card-title.large {
    min-width: 420px;
    font-size: 40px;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
    max-width: 176px;
    margin-bottom: 25px;
}
.card-text.large {
    max-width: 320px;
}

.text-light{
    color: white;
}
.text-red {
    color: #FFC4C9;
}

.card-price {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: white;
}
/* ////////////////////////////////////////////////////////////////////////////////small-row */
.section-title {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #262D33;
}
.more {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color: #262D33;
    text-decoration: none;
    padding: 10px; 
}
/* ////////////////////////////////////////////////////////////////////////////////market-row */
.goods-card {
    position: relative;
    text-align: center;
    padding: 30px 35px 35px 35px;
}
.goods-card .label {
    position: absolute;
    left: 18px;
    top: 18px;
}
.goods-title {
    margin-top: 15px;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    color: #262D33;
}
.goods-description {
    margin-top: 0;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4B5157;
}
.goods-price {
    font-size: 18px;
    line-height: 30px;
    color: #262D33;
}
/* /////////////////////////////////////Footer */
.footer {
    background: #8F79D4;
    padding-top: 45px;
    padding-bottom: 40px;
    color:white;
}
.footer-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-menu-item:not(:last-child) {
    margin-right: 40px;
}
.footer-menu-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
    color:white;
}
.social-link{
    margin-left: 15px;
}
.footer-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #E7D9FF;
}
.footer-line {
    color:white;
    size: 1px;
    opacity: 0.5;
}
.top-link {
    text-decoration: none;
    color: white;
}
.top-link-text {
    margin-right: 15px;
}
.payment-logo {
    vertical-align: middle;
    margin-right: 25px;
}
/* ////////////////////////////////////////////////////media */
@media (max-width:1200px) {
    .slide {
        background-size:cover;
    }
    .card-3 {
        background-size: cover;

    }
}
@media (max-width:992px) {
    .slider-nav{
        display: none;
    }
}
@media (max-width: 576px) {
    .slide-title {
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 0;
    }
    .card {
        background-position: left top;
        min-height: 30px;
    }
    .card-4 {
        background-position: right;
    }
    .card-title.large {
        font-size: 25px;
        line-height: 30px;
        min-width: 0px;
    }

}